<center>
	<h1>Регистрация нового пользователя</h1>
	<p>Если вы хотите зарегестрироваться как преподаватель, обратитесь к администратору: adminmail@edu.org </p>
	<%= render 'form' %>

	
	<%= link_to 'Назад', users_path %>
</center
