<center>
	<h2>Регистрация нового пользователя</h2>
	<p>Если вы хотите зарегестрироваться как преподаватель,</p>
	<p> обратитесь к администратору: adminmail@edu.org </p>
	<%= render 'form' %>
	<br>
	<% if session[:user_id] %>
		<%= link_to 'Назад', users_path, id: :reg%>
	<% else %>
		<%= link_to 'Назад', login_url, id: :reg %>
	<% end %>
</center
