// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
text-align:center;border:1px dotted white;border-radius: 5px 
}

table {
	margin-top: 50px;border:1px solid white;width:500px; padding:10px;background-color:#CCF;border-radius: 10px
}